*input.txt
*.vs
/C# Solution/obj*
C#/C# Solution/bin*
*.sln
/C#/C# Solution/.vs
C#/C# Solution/obj*
*.props
*.json
*.cache
*.targets
*.editorconfig
*GlobalUsings*
*AssemblyInfo*
*.NETCoreApp*
*.dll
*.pdb
*csproj.*
*.exe
/C#/Day 1/Day1.csproj
/C#/Day2/Day2.csproj
/C#/Day3/Day3.csproj
*testinput*